{% extends "base.html" %}
{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/instructor.css') }}">
{% endblock %}

{% block content %}
<section class="panel">
  <h1>Новий курс</h1>
  <p class="muted">Швидко створюємо курс для курсової.</p>

  <form method="post" class="form">
    <div class="field">
      <label>Назва</label>
      <input name="title" required>
    </div>
    <div class="field">
      <label>Опис</label>
      <input name="description">
    </div>
    <button class="btn btn-primary" type="submit">Створити</button>
  </form>
</section>
{% endblock %}